:root {
  --size: 20px;
}

body {
  font-family: "Times New Roman", Helvetica, Arial, sans-serif;
  /*height: 100vh;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overscroll-behavior: none;
}

#cat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#total{
  width: 120px;
  height: 20px;
  margin: auto;
  border: 1pt solid black;
  background-color: #FFE5B4;
  text-align: center;
}

#container1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 380px;
  height: auto;
  margin: auto;
  border: 2pt solid blue;
  gap: 0px;
  column-gap: 0px;
  justify-content: center;
  padding: 10px 0px;
}

.grid {  
  background-color: skyblue;
  width: var(--size);
  height: var(--size);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;  
  font-weight: bold;
  border: 1pt solid skyblue;	
}

.top{
	border-top: 1pt solid blue;	
}

.bottom{
	border-bottom: 1pt solid blue;	
}

.left{
	border-left: 1pt solid blue;	
}

.right{
	border-right: 1pt solid blue;	
}

#start, #stop{
  visibility: visible;
  width: var(--size);
  height: var(--size);
}

#direction{
	width: 200px;
}

#direction p{
  color: blue;
  
}

#myCanvas {
	touch-action: none;	
	border:2px solid blue; 
	border-radius: 10px;
	background-color: white;
}


#thickness, #colorPicker, #clearCanvas, #save{
	width: 80px;
	background-color: white;
	margin: 10px;
	border: 1pt solid blue;
	border-radius: 10px;	
	height: 40px;
	display: flex;  
	justify-content: center;
	align-items: center;
	cursor: pointer;	
	font-size: 20px;
}

#clearCanvas{
	background-color: #FFE5B4;
}

#save{
	background-color: pink;
}

#colorPicker{
	background-color: black;
}

#content {
  display: none;
  position: absolute;
  background-color: white;
  z-index: 1;
  flex-direction: row;
}

#content1 {
  display: none;
  position: absolute;
  background-color: white;
  margin: -10px 10px;
  z-index: 1;  
  flex-direction: column;
}

#content1 svg{
  width: 100px;
  height: 40px;
  cursor: pointer;
}

img{
	visibility: visible;
}