body {
  font-family: "Times New Roman", Helvetica, Arial, sans-serif;
  /*height: 100vh;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.radio {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  width: 400px;
  justify-content: center;
}

label {
  margin-left: 10px;
  height: 10px;
  width: 50px; 
}

#cat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#correct, #error{
  width: 120px;
  height: 20px;
  margin: auto;
  border: 1pt solid black;
  background-color: #FFE5B4;
  text-align: center;
}

#error{
  background-color: red;
  color: white;
}

#main{
  visibility: visible;
  width: 380px; 
  height: 380px;
  object-fit: cover;	/*none, -fill, cover, -contain, -scale-down*/
  border-radius: 8px;
  position: fixed;
  z-index = 0;
}

#container1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 380px;
  height: 380px;
  font-size: 35px;
  margin: auto;
  border: 2pt solid blue;
  justify-content: space-evenly;
}

.grid {  
  background-color: white;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;  
  z-index: 1;
  border: 1pt solid blue;
}

.but p {
  width: 30px;
  height: 30px;
  background-color: #FFE5B4;
  margin: auto;
  margin-top: 20px;
  border: 1pt solid blue;
  border-radius: 10px;
  font-size: 20px;
  display: flex;  
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#choice {
  width: 390px;
  flex-flow: wrap;
}

#newGame {
	width: 150px;
	background-color: white;
}

#A, #B, #C, #D {
  margin: auto;
  margin-top: 20px;
  border: 1pt solid blue;
  border-radius: 3px;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: row;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  z-index: 1;
}

.stop {
  pointer-events: none;
}