body {
  font-family: "Times New Roman", Helvetica, Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.radio {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  width: 400px;
  justify-content: center;
}

label {
  margin-left: 10px;
  height: 10px;
  width: 50px; 
}

#cat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#correct{
  width: 120px;
  height: 20px;
  margin: auto;
  border: 1pt solid black;
  background-color: #FFE5B4;
  text-align: center;
}

#error{
  width: 120px;
  height: 20px;
  margin: auto;
  border: 1pt solid black;
  background-color: red;
  text-align: center;
  color: white;
}

.container1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  margin: auto;
  background-color: #FFE5B4;
  width: 380px;
  height: 100px;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 10pt solid pink;
  /*font-weight: bold;*/
  flex-direction: row;
  flex-wrap: wrap;
}

i{
  margin: 2px;
}

.but p {
  width: 70px;
  height: 50px;
  background-color: greenyellow;
  margin: auto;
  margin-top: 20px;
  border: 1pt solid blue;
  border-radius: 10px;
  font-size: 40px;
  display: flex;  
  justify-content: center;
  align-items: center;
}

#happy, #sad{
  width: 120px;
  height: 120px;
}

#sad{
  display: none;
}
